<!DOCTYPE html>
<html>
<head>
    <title>Video Upload</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom CSS for colorful background */
        body {
            background-color:  black; /* Replace with your desired background color */
        }
    </style>
</head>
<body>
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">VOD upload</a>
        <a class="navbar-brand" href="/vod/show">VOD List</a>
        <a class="navbar-brand" href="/livestream/show">Livestream Show</a>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Upload Video</h1>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/file/upload" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="file">Choose a video file:</label>
                                <input type="file" class="form-control-file" name="file" id="file" accept=".mp4, .avi, .mov, .mkv">
                            </div>
                            <div class="form-group">
                                <p>Do you want to add subtitles?</p>
                                <label for="subtitle">Yes</label>
                                <input type="radio" name="subtitle" id="subtitle_add" value="1">
                                <label for="subtitle">No</label>
                                <input type="radio" name="subtitle" id="subtitle_no" value="0" checked>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS and jQuery (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
