<!DOCTYPE html>
<html lang="en">

<head>
    <title>LiveStream Show</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        /* Custom CSS for colorful background */
        body {
            background-color: rgba(0, 0, 0, .4);
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <a class="btn btn-dark" href="/">
                        VOD Upload
                    </a>
                    <a class="btn btn-dark" href="/vod/show">
                        VOD List
                    </a>
                    <a class="btn btn-dark" href="/livestream/show">
                        Livestream
                    </a>
                </ul>
            </div>
        </div>
    </nav>

    <div id="livestream-create">
        <button type="button" class="btn btn-success btn-lg" id="createButton">Create Livestream</button>
    </div>

    <div id="livestream-list">
        <div class="row">
            <div class="col">Name</div>
            <div class="col">Status</div>
        </div>
        {% for live in livestreams %}
        <div class="row">
            <div class="col">{{live.name}}</div>
            <div class="col">
                {% if live.status == "LIVE_STATUS_WAIT_FOR_PREVIEW" %}
                <button type="button" class="btn btn-primary">{{live.status}}</button>
                {% elif live.status == "LIVE_STATUS_PREVIEW" %}
                <button type="button" class="btn btn-success" value="{{live.id}}">{{live.status}}</button>
            {% elif live.status == "LIVE_STATUS_LIVE" %}
                <button type="button" class="btn btn-danger" id="{{live.id}}"><a href="/livestream/livestream_room?livestream_id={{ live.id }}">Watch</a></button>
            {% else %}
                <button type="button" class="btn btn-light" disabled>{{live.status}}</button>
                {% endif %}
            </div>
        </div>

        {% endfor %}
    </div>

</body>

<script>
    function CreateLive() {
        var result = prompt("Livestream name:", "");
        if (result == null) {
            return;
        }
        var url = '/livestream/create?livestream_name=' + result;

        fetch(url).then(response => {
            if (response.ok) {
                alert("Successfully created livestream");
                return location.reload();
            } else {
                throw new Error('Failed to create livestream.');
            }
        })
    }

    $("button").click(function() {

        if ($(this).attr('id'))
            return;

        var data = {
            "livestream_id": $(this).val(),
        };
        $.ajax({
            url: '/livestream/get_rtmp',
            method: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function(response) {
                if (confirm('rtmp_url : ' + response.rtmp_url + '\n\nrtmp_key : ' + response.rtmp_key + "\n\nStart Livestream?")) {
                    location.href = "/livestream/start?livestream_id=" + data["livestream_id"]
                }
                return;
            },
            error: function (error) {
                alert("Error:" + error.message);
            }
        });
    });

    document.getElementById('createButton').addEventListener('click', CreateLive);
</script>